body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    font-family: 'Georgia', serif;
}

header p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #1db954;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1ed760;
}

#quoteDisplay, #explanationDisplay {
    margin-top: 20px;
    font-size: 1.3em;
    font-style: italic;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade {
    opacity: 1;
}
